.conteneur {
    width: 450px;
    height: 450px;
    border-style: inset;
    border-width:3px;
    border-color:darkslategrey;
    box-shadow: 8px 8px 12px #aaa;
}
.vert {
    float: left;
    width: 120px;
    height: 120px;
    background-color: darkgreen;
    border: 3px solid rgb(255, 255, 255);
    margin-left: 43px;
    margin-top:30px;
}
.bleu {
    float: left;
    width: 120px;
    height: 120px;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(96, 132, 179);
    margin-top:30px;
}
.orange {
    float: left;
    width: 360px;
    height: 120px;
    margin-left: 43px;
    border: 3px solid rgb(255, 255, 255);
    background-color: orangered;    
}
.jaune {
    float: right;
    width: 120px;
    height: 120px;
    margin-right: 40px;
    border: 3px solid rgb(255, 255, 255);
    background-color: yellow;    
}
.gris {
    float: right;
    width: 120px;
    height: 120px;
    border: 3px solid rgb(255, 255, 255);
    background-color: grey;    
}

