.item1 {
    grid-area: b1;
    background: rgb(14, 194, 194);
}
.item2 {
    grid-area: b2;
}
.item3 {
    grid-area: b3;
}
.item5 {
    grid-area: j1;
    background: rgb(156, 175, 46);
}

.item6 {
    grid-area: ble1;
    background: rgb(79, 7, 214);
}

.item7 {
    grid-area: b7;
}

.item8 {
    grid-area: b8;
}

.item9 {
    grid-area: ble3;
}





.grid-container {
    display: grid;
    grid-template-areas:
    'b1  b2  b2  b2  b2  b2  b2  b2  b3  b3  b3  b3  b3  b3  b3  b3  b4  j1'
    'b1  ble1  ble1  ble1  ble1  ble1  ble1  b5  b5  b5  b5  ble2  ble2  ble2 ble2 ble2 b4 j1'
    'b1  ble1  ble1  ble1  ble1  ble1  ble1  b5  b5  b5  b5  ble2  ble2  ble2 ble2 ble2 b4 j1'
    /*'. ble1  ble1  ble1  ble1  ble1  ble1  b2  b2  b2  b3  b3  b3  b3  b3  b3  b3  j1'
    '.  ble1  ble1  ble1  ble1  ble1  ble1  b2  b2  b2  b3  b3  b3  b3  b3  b3  b3  j1'
    '.  ble1  ble1  ble1  ble1  ble1  ble1  b2  b2  b2  b3  b3  b3  b3  b3  b3  b3  j1'
    '.  ble1  ble1  ble1  ble1  ble1  ble1  b2  b2  b2  b3  b3  b3  b3  b3  b3  b3  j1'
    '.  ble1  ble1  ble1  ble1  ble1  ble1  b2  b2  b2  b3  b3  b3  b3  b3  b3  b3  j1'
    'b1  b2  b2  b2  b2  b2  b2  b2  b2  b2  b3  b3  b3  b3  b3  b3  b3  j1'
    'b1  b2  b2  b2  b2  b2  b2  b2  b2  b2  b3  b3  b3  b3  b3  b3  b3  j1'
    'b1  b2  b2  b2  b2  b2  b2  b2  b2  b2  b3  b3  b3  b3  b3  b3  b3  j1'
    'b1 b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    'b1 b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    'b1 b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    'b1 b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    'b1 b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    'b1 b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    'b1 b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    'b1 b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    'b1 b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    'b1 b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    'b1 b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    'b1 b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'
    '. b6 b6 b6 n2 b7 b7 b7 b7 b8 j2 j2 j2 j2 r1 r1 r1 r1 r1 r2 b9 j1'*/;
    grid-gap: 10px;
    background: black;
    height: 95vh;
    padding: 10px;
}

#b1
{
    background-color: rgb(187, 184, 184);
    grid-area: b1;
}

#b2
{
    background-color: rgb(187, 184, 184);
    grid-area: b2;
}

#j1
{
    background-color: rgb(213, 228, 6);
    grid-area: j1;
}

#blee1
{
    background-color: rgb(102, 6, 228);
    grid-area: blee1;
}
.grid-container > div {
    background-color: rgb(187, 184, 184);
    padding: 20px 0;
}