

div {
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
}

.bleu {
    height: 600px;
    width: 600px;
    background-color: rgba(90, 151, 192, 0.836);
}

.vert {
    top: 10px;
    left: 60px;
    height: 20px;
    width: 20px;
    background-color: rgba(10, 173, 59);
   }

.violet {
    height: 20px;
    width: 20px;
    background-color: rgb(86, 44, 163);
}

.orange {
    height: 20px;
    width: 20px;
    background-color: rgb(180, 130, 36);
}

.jaune {
    height: 20px;
    width: 20px;
    background-color: rgb(171, 240, 11);
}