div  div
{
    position:absolute;
    width: 25px;
    height: 25px;
    border: 1px solid rgb(66, 64, 64);
    border-radius: 8px;
    animation-name: queue;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-align: center;
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    top: 15px;
    left: 15px;
}
.conteneur {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 30px;
    background: rgb(201, 220, 231);
    border-radius: 20px;
}
#carre1 {
    background: rgb(108, 230, 163);
    animation-delay: 0s;
}
#carre2 {
    background: rgb(24, 158, 64);
    animation-delay: 1s;
}
#carre3 {
    background: rgb(49, 126, 81);
    animation-delay: 2s;
}
#carre4 {
    background: rgb(156, 238, 3);
    animation-delay: 3s;   
}
#carre5 {  
    background: rgb(163, 90, 7);
    animation-delay: 4s;
}
#carre6 {
    background: rgba(207, 12, 12);
    animation-delay: 5s;
}
h1 {
    color: rgb(56, 18, 18);
    font-family: monospace; 
    text-align: center;
    padding-top: 215px;
}
h2 {
    color: rgb(250, 245, 245);
    text-align: center;
    font-family: monospace;
}
@keyframes queue
{
    0%
    {
        background-color: rgb(4, 240, 110);
    }
    25%
    {
        background-color: rgb(73, 85, 255);  
        transform:rotate(90deg);
        top:15px;
        left: 750px;
    }    
    50%
    {
        background-color: rgb(245, 49, 124);  
        transform:rotate(180deg);
        left: 750px;
        top: 450px;
    }    
    75%
    {
        background-color: rgb(231, 58, 5);  
        transform:rotate(270deg);
        top: 450px;
        left: 15px;
    }    
    100%
    {
        background-color: rgb(4, 240, 110);
        transform:rotate(360deg);
        right: 750px;
        bottom: 750px;
    }    
}
