.noir {
    width: 150px;
    height: 35px;
    border-radius: 30px;
    background: rgb(44, 44, 42);
    transition: 2s;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-family: monospace;

}

.noir:hover {
    height: 900px;
}